version: '3.8'
services:
  backend:
    build: ./backend
    container_name: chandas-backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./frontend
    container_name: chandas-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always
